@model IEnumerable<CodeAnswers.Models.Questions>
@{
    ViewData["Title"] = "Code Answers - Где разработчики обучаются, делятся знаниями и развиваются";
}

    <h1>Топ вопросов</h1>
    <div class="top-questions">
        @foreach (var item in Model)
        {
        <div>
            <div class="row">
                <div class="col-auto">
                    <p>@item.Rating Голосов</p>
                    <p>@item.Answer.Count Ответов</p>
                </div>
                <div class="col qstns-list">
                    <div><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></div>
                    <div>
                        @foreach (var c in item.Tag)
                        {
                            <a asp-controller="Tags" asp-action="Details" asp-route-id="@c.Id">
                                @Html.DisplayFor(item => c.Name)
                            </a>
                        }
                    </div>
                </div>
                <div class="col-auto">
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@item.AuthorId">@Html.DisplayFor(modelItem => item.User.AspNetUser.UserName)</a>
                    <span>спросил @item.PublicationDate</span>
                </div>
            </div>
        </div>
        }
    </div>