@model CodeAnswers.Models.Users

@{
    ViewData["Title"] = "Профиль пользователя "+Model.Name;
}
<div class="row">
    <div class="col-auto">
        <img src="@Model.Image.ImagePath" alt="" width="150" height="150"/>
    </div>
    <div class="col-auto">
        <p>Репутация: <strong>@Model.Reputation</strong></p>
        <p>Вопросов: <strong>@Model.Question.Count</strong></p>
        <p>Ответов: <strong>@Model.Answer.Count</strong></p>
    </div>
    <div class="col">
        <div><h1>@Html.DisplayFor(model => model.Name)</h1></div>
        <div><p>Дата регистрации: @Model.RegistrationDate.Date.ToString("dd.MM.yyyy")</p></div>
        @if (Model.Location != null)
        {
            <div>
                <p>
                    Местоположение: @Html.DisplayFor(model => model.Location)
                </p>
            </div>
        }
        <div>
            <span>Ссылки: </span>
            @if (Model.LinkGithub != null)
                {
                    <a href="@Model.LinkGithub">GitHub</a>
                }
                
                @if (Model.LinkSocial != null)
                {
                <a href="@Model.LinkSocial">Social</a>
                }
        </div>
    </div>
</div>
<hr />
<div>
    <h2>Обо мне</h2>
    <div>
        @if(Model.About!=null){
            @Html.Raw(Model.About)
        }
        else
        {
            <p>Здесь ничего нет.</p>
        }
    </div>
</div>
<hr />
<div class="qst-answ-list">
<div>
    <h2>Заданные вопросы</h2>
    <div class="row">
        @if (Model.Question.Count > 0)
        {
            @foreach (var q in Model.Question)
            {
                <div class="col-auto">
                    <p>Рейтинг: <strong>@q.Rating</strong></p>
                    <p>Ответов: <strong>@q.Answer.Count</strong></p>
                </div>
                <div class="col">
                <a asp-controller="Questions" asp-action="Details" asp-route-id="@q.Id">@q.Title</a>
                </div>
                <div class="col-auto">
                    <p>@q.PublicationDate</p>
                </div>
                <div class="w-100"></div>
                <hr />
            }
        }
        else
        {
            <p>Вопросов нет.</p>
        }
    </div>
</div>
<div>
    <h2>Оставил ответы на вопросы</h2>
    <div class="row">
        @if (Model.Answer.Count > 0)
        {
            @foreach (var a in Model.Answer)
            {
                <div class="col-auto">
                    <p>Рейтинг: <strong>@a.Rating</strong></p>
                </div>
                <div class="col ans-demo">
                    <a asp-controller="Questions" asp-action="Details" asp-route-id="@a.QuestionId">@Html.Raw(a.Description)</a>
                </div>
                <div class="col-auto">
                    <p>@a.PublicationDate</p>
                </div>
                <div class="w-100"></div>
                <hr />
            }
        }
        else
        {
            <p>Ответов нет.</p>
        }
    </div>
</div>
</div>