@model IEnumerable<CodeAnswers.Models.Users>

@{
    ViewData["Title"] = "Пользователи CodeAnswers";
}

<h1>Пользователи</h1>
<form class="search-form"  asp-controller="Users" asp-action="Index" method="get">
        <input class="form-control form-control-sm" type="text" name="SearchString" placeholder="Найти пользователя.." />
        <input class="btn btn-primary btn-sm"  type="submit" value="Найти" />
</form>
    @if (Model.Any())
    {
<div class="usr-list row row-cols-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        <img src="@item.Image.ImagePath" alt="" />
                    </div>
                    <div class="col">
                        <div><a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></div>
                        @if (item.Location != null)
                        {
                            <div>@item.Location</div>
                        }
                        <div><span>@item.Reputation</span></div>
                    </div>
                </div>
            </div>
        }
</div>
}
else
{
    <h3>Пользователи не найдены</h3>
}
