@using Microsoft.AspNetCore.Identity
@using CodeAnswers.ViewModels
@model QuestionDetailsViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = Model.Question.Title;
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#like-question").on("click", function () {
                var formData = new FormData();
                formData.append("userName", $("#user-name").val());
                formData.append("questionId", $("#question-id").val());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("QuestionLike", "Rating")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: false,
                    error: function () { bootbox.alert("Не удалось выполнить операцию Like/Dislike."); }
                });
            });
        });
        $(document).ready(function () {
            $("#dislike-question").on("click", function () {
                var formData = new FormData();
                formData.append("userName", $("#user-name").val());
                formData.append("questionId", $("#question-id").val());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("QuestionDislike", "Rating")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: false,
                    error: function () { bootbox.alert("Не удалось выполнить операцию Like/Dislike."); }
                });
            });
        });

        $(document).ready(function () {
            $("#like-answer").on('click', function () {
                var formData = new FormData();
                formData.append("userName", $("#user-name").val());
                formData.append("answerId", $("#answer-id").val());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AnswerLike", "Rating")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: false,
                    error: function () { bootbox.alert("Не удалось выполнить операцию Like/Dislike."); }
                });
            });
        });
        $(document).ready(function () {
            $("#dislike-answer").on("click", function () {
                var formData = new FormData();
                formData.append("userName", $("#user-name").val());
                formData.append("answerId", $("#answer-id").val());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AnswerDislike", "Rating")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: false,
                    error: function () { bootbox.alert("Не удалось выполнить операцию Like/Dislike."); }
                });
            });
        });
    </script>
}

<div class="row">
    <div class="col">
        <h1>@Html.DisplayFor(model => model.Question.Title)</h1>
    </div>
    @if (SignInManager.IsSignedIn(User) && User.Identity!.Name == Model.Question.User.Name)
    {
        <div class="col-auto">
            <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Question.Id">Изменить</a>
            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Model.Question.Id">Удалить</a>
        </div>
    }
</div>
<div class="row q-date">
    <div class="col-auto row">
        @if (Model.Question.Answered)
        {
            <div class="answ-checked col"></div>
        }
        @if (SignInManager.IsSignedIn(User) && User.Identity!.Name != Model.Question.User.Name)
        {   
            <div class="col">
            <form class="q-rating-form">
                <input type="hidden" id="question-id" asp-for="@Model.Question.Id" value="@Model.Question.Id" />
                <input type="hidden" id="user-name" asp-for="@User.Identity!.Name" value="@User.Identity!.Name" />
                <div class="col">
                    <button id="like-question" type="button" class="btn btn-light like-rating-btn like-img col @if(Model.QuestionsRatings!=null && Model.QuestionsRatings.First().Likes==true){@Html.Raw("finger-active")} "></button>
                </div>
                <div class="col">
                    <button id="dislike-question" type="button" class="btn btn-light dislike-rating-btn dislike-img col @if(Model.QuestionsRatings!=null && Model.QuestionsRatings.First().Dislikes==true){@Html.Raw("finger-active")} "></button>
                </div>
            </form>
            </div>
        }
    </div>
    <div class="col-auto">
        <p><span>Рейтинг:</span> @Model.Question.Rating</p>
    </div>
    <div class="col-auto">
        <p><span>Ответов:</span> @Model.Question.Answer.Count</p>
    </div>
    <div class="col-auto">
        <p><span>Задан</span> @Model.Question.PublicationDate</p>
    </div>
    @if (Model.Question.ModifiedDate.HasValue)
    {
        <div class="col-auto">
            <p><span>Изменен</span> @Model.Question.ModifiedDate</p>
        </div>
    }
</div>
<hr />
<div>
    <div>@Html.Raw(Model.Question.Description)</div>
    <div class="row qstns-list after-descr">
        <div class="col-auto">
            @if (SignInManager.IsSignedIn(User) && User.Identity!.Name == Model.Question.User.Name)
            {
                <a asp-action="Edit" asp-route-id="@Model.Question.Id">Изменить</a>
            }
        </div>
        <div class="col">
            @foreach (var c in Model.Question.Tag)
            {
                <a asp-controller="Tags" asp-action="Details" asp-route-id="@c.Id">
                    @Html.DisplayFor(item => c.Name)
                </a>
            }
        </div>
        <div class="col-auto q-author">
            <img src="@Model.Question.User.Image.ImagePath" alt="" />
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.Question.AuthorId">@Model.Question.User.Name</a>
            <span>спросил @Model.Question.PublicationDate</span>
        </div>
    </div>
</div>
<hr />
<div class="row q-ans">
    <h4>Ответы:</h4>
    @if (Model.Answers.Any())
    {
        @foreach (var answ in Model.Answers)
        {
            <div class="col-auto row">
                @if (answ.Accepted)
                {
                    <div class="answ-checked col"></div>
                }
                <div class="show-rating col">
                    @answ.Rating
                </div>
                @if (SignInManager.IsSignedIn(User) && User.Identity!.Name != answ.User.Name)
                {
                    <div class="w-100"></div>
                    <div class="col">
                        <form class="a-rating-form">
                            <input type="hidden" id="answer-id" asp-for="@answ.Id" />
                            <input type="hidden" id="user-name" asp-for="@User.Identity!.Name" />
                            <div class="col">
                                <button id="like-answer" type="button" class="btn btn-light like-rating-btn like-img col @if(Model.AnswersRatings!=null && Model.AnswersRatings.Select(c=>c.AnswerId).Contains(answ.Id) && Model.AnswersRatings.FirstOrDefault(c=>c.AnswerId==answ.Id).Likes==true){@Html.Raw("finger-active")}"></button>
                            </div>
                            <div class="col">
                                <button id="dislike-answer" type="button" class="btn btn-light dislike-rating-btn dislike-img col @if(Model.AnswersRatings!=null && Model.AnswersRatings.Select(c=>c.AnswerId).Contains(answ.Id) && Model.AnswersRatings.FirstOrDefault(c=>c.AnswerId==answ.Id).Dislikes==true){@Html.Raw("finger-active")}"></button>
                            </div>
                        </form>
                    </div>
                }
            </div>
            <div class="col">
                <div>@Html.Raw(answ.Description)</div>
                <div class="row qstns-list @if(answ.Accepted){@Html.Raw("answered-bg-grad-to-top")} after-descr">
                    <div class="col-auto">
                        @if (SignInManager.IsSignedIn(User) && User.Identity!.Name == answ.User.Name)
                        {
                            <a asp-controller="Answers" asp-action="Edit" asp-route-id="@answ?.Id">Изменить</a>
                        }
                    </div>
                    <div class="col">
                        <p>Рейтинг: <span>@answ.Rating</span></p>
                    </div>
                    <div class="col-auto q-author">
                        <img src="@answ.User.Image.ImagePath" alt="" />
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@answ.AuthorId">@answ.User.Name</a>
                        <span>ответил @answ.PublicationDate</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="w-100"></div>
        }
    }
    else
    {
        <h4>Нет ответов</h4>
    }
</div> 
@if(!Model.Question.Answered){
    @if (SignInManager.IsSignedIn(User))
    {
        <div>   
            <form asp-action ="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <textarea asp-for="@Model.Answer.Description" class="form-control" id="ckeditor" placeholder="Напишите свой ответ здесь"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" value="Details" class="btn btn-primary">Ответить</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <div>
            <a  asp-area="Identity" asp-page="/Account/Register">Зарегистрируйтесь</a>
            или
            <a  asp-area="Identity" asp-page="/Account/Login">Войдите</a> в учетную запись для того, чтобы оставить свой ответ.
        </div>
    }
}else{<p>Автор вопроса пометил один из ответов как "решение". Более нет возможности написать свой ответ.</p>}
