@using Microsoft.AspNetCore.Identity
@using CodeAnswers.ViewModels
@model QuestionDetailsData
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = Model.Question.Title;
}
<div class="row">
    <div class="col">
        <h1>@Html.DisplayFor(model => model.Question.Title)</h1>
    </div>
    @if (SignInManager.IsSignedIn(User) && User.Identity!.Name == Model.Question.User.Name)
    {
        <div class="col-auto">
            <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Question.Id">Изменить</a>
            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Model.Question.Id">Удалить</a>
    </div>}
</div>
<div class="row q-date">
    <div class="col-auto">
        <p><span>Рейтинг:</span> @Model.Question.Rating</p>
    </div>
    <div class="col-auto">
        <p><span>Ответов:</span> @Model.Question.Answer.Count</p>
    </div>
    <div class="col-auto">
        <p><span>Задан</span> @Model.Question.PublicationDate</p>
    </div>
    @if (Model.Question.ModifiedDate.HasValue)
    {
        <div class="col-auto">
            <p><span>Изменен</span> @Model.Question.ModifiedDate</p>
        </div>
    }
</div>
<hr />
<div>
    <div>@Html.Raw(Model.Question.Description)</div>
    <div class="row qstns-list after-descr">
        <div class="col-auto">
            <a asp-action="Edit" asp-route-id="@Model.Question.Id">Изменить</a>
        </div>
        <div class="col">
            @foreach (var c in Model.Question.Tag)
            {
                <a asp-controller="Tags" asp-action="Details" asp-route-id="@c.Id">
                    @Html.DisplayFor(item => c.Name)
                </a>
            }
        </div>
        <div class="col-auto q-author">
            <img src="@Model.Question.User.Image.ImagePath" alt="" />
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.Question.AuthorId">@Model.Question.User.Name</a>
            <span>спросил @Model.Question.PublicationDate</span>
        </div>
    </div>
</div>
<hr />
<div class="row q-ans">
    <h4>Ответы:</h4>
    @if (Model.Answers.Any())
    {
        @foreach (var answ in Model.Answers)
        {
            <div class="col-auto row">
                @if (answ.Accepted)
                {
                    <div class="answ-checked col"></div>
                }
                <div class="show-rating col">
                    @answ.Rating
                </div>
                <div class="w-100"></div>
                <div class="col"><button type="button" class="btn btn-light like-rating-btn col"></button></div>
                <div class="col">
                    <button type="button" class="btn btn-light dislike-rating-btn col"></button>
                </div>
            </div>
            <div class="col">
                <div>@Html.Raw(answ.Description)</div>
                <div class="row qstns-list after-descr">
                    <div class="col-auto">
                        <a asp-controller="Answers" asp-action="Edit" asp-route-id="@answ?.Id">Изменить</a>
                    </div>
                    <div class="col">
                        <p>Рейтинг: <span>@answ.Rating</span></p>
                    </div>
                    <div class="col-auto q-author">
                         <img src="@answ.User.Image.ImagePath" alt="" />
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@answ.AuthorId">@answ.User.Name</a>
                        <span>ответил @answ.PublicationDate</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="w-100"></div>
        }
    }
    else
    {
        <h4>Нет ответов</h4>
    }
</div> 
@if(!Model.Question.Answered){
    @if (SignInManager.IsSignedIn(User))
    {
        <div>   
            <form asp-action ="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <textarea asp-for="@Model.Answer.Description" class="form-control" id="ckeditor" placeholder="Напишите свой ответ здесь"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" value="Details" class="btn btn-primary">Ответить</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <div>
            <a  asp-area="Identity" asp-page="/Account/Register">Зарегистрируйтесь</a>
            или
            <a  asp-area="Identity" asp-page="/Account/Login">Войдите</a> в учетную запись для того, чтобы оставить свой ответ.
        </div>
    }
}else{<p>Автор вопроса пометил один из ответов как "решение". Более нет возможности написать свой ответ.</p>}

