@model CodeAnswers.Models.Answers

@{
    ViewData["Title"] = "Редактирование ответа";
}

<h1>Редактировать ответ на вопрос</h1>
<div>
    <div>
        <h3>@Html.Raw(Model.Question.Title)</h3>
    </div>
    <div>
        @Html.Raw(Model.Question.Description)
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <input type="hidden" asp-for="QuestionId" value="@Model.QuestionId"/>
            <input type="hidden" asp-for="Rating" value="@Model.Rating"/>
            <input type="hidden" asp-for="PublicationDate" value="@Model.PublicationDate"/>
            <input type="hidden" asp-for="AuthorId" value="@Model.AuthorId"/>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание ответа</label>
                <textarea asp-for="Description" class="form-control" id="ckeditor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

