@model CodeAnswers.ViewModels.TagsIndexViewModel

@{
    ViewData["Title"] = "Теги - CodeAnswers";
}

<h1>Теги</h1>
<p>Тег – это ключевое слово или метка, которая классифицирует ваш вопрос среди других похожих вопросов. Использование правильных тегов поможет другим найти ваш вопрос и ответить на него.</p>
<form class="search-form" asp-controller="Tags" asp-action="Index" method="get">
        <input class="form-control form-control-sm" type="text" name="SearchString" placeholder="Найти тег по названию.." />
        <input class="btn btn-primary btn-sm"  type="submit" value="Найти" />
</form>
@if (Model.Tags.Any())
{
    <div class="tagsBlock row">
        @foreach (var item in Model.Tags)
        {
            <div class="col-6 col-sm-4 col-xl-2">
                <div>
                    <div><a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></div>
                    <div><p>@Html.DisplayFor(modelItem => item.Description)</p></div>
                    <div class="row">
                        <div class="col">
                            @item.Question.Count вопросов
                        </div>
                        <div class="col">
                            @item.Question.FindAll(f => f.PublicationDate.Month == DateTime.Today.Month).Count за месяц,
                            @item.Question.FindAll(f => f.PublicationDate.Day == DateTime.Today.Day && f.PublicationDate.Month == DateTime.Today.Month).Count за сегодня
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <partial name="_PagingPartial" />
}
else
{
    <h3>Теги не найдены</h3>
}
